<h2>Your Dashboard</h2>



<section class="merchant-detail-summary">
<div class="dasboard-container">

  <h4>Account Summary:</h4>

  <h5>Name: <%= @merchant.username %></h5>
  <p>Joined site on: <%= @merchant.created_at.strftime("%B %d, %Y") %></p>
</div>

    <h5>Total Revenue to-date: $<%= @revenue %></h5>
<div>
  <button type="button" class="btn btn-info"> <%=link_to "New Product", new_merchant_product_path(@merchant.id)%>
</div>
<div>
</br>
<button type="button" class="btn btn-info"> <%=link_to "Add Category", new_category_path%>
</div>
</br>
</br>
    <table class="table">
      <h3>Products</h3>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Stock</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <%@products.each do |product| %>
      <td scope="row"><%=product.name%></td>
      <td scope="row"><%=product.price%></td>
      <td scope="row"><%=product.inventory%></td>
      <td scope="row"><%=link_to product.is_active%></td>
      <td scope="row"><button type="button" class="btn btn-info"><%=link_to "Edit", edit_marchant_product_path(@merchant.id)%></button></td>
      <%end%>
    </tr>
    </table>
  </div>
</section>
