<div id="home-container">

  <% if params[:merchant_id] %>
  <h2 class="title-page">Merchants Products</h2>

  <div class="flex-container">
    <% @products.each do |product| %>
    <div class="card">
      <%= link_to image_tag("#{product.image}", :alt => 'product-img', :class => 'image-tag'), product_path(product.id) %>
      <div class="card-body">
        <p class="card-text text-center">from: <%= link_to product.merchant.username, merchant_products_path(product.merchant_id) %> </p>
        <p class="card-text text-center"><%= number_to_currency(product.price) %></p>
      </div>
    </div>
    <% end %>
  </div>

  <% else %>

  <h2 class="title-page">List of All Products</h2>

  <div class="flex-container">
    <% @products.each do |product| %>
    <div class="card">
      <%= link_to image_tag("#{product.image}", :alt => 'product-img', :class => 'image-tag'), product_path(product.id) %>
      <div class="card-body">
        <p class="card-text text-center">from: <%= link_to product.merchant.username, merchant_products_path(product.merchant_id)  %> </p>
        <p class="card-text text-center"><%= number_to_currency(product.price) %></p>
      </div>
    </div>
    <% end %>
  </div>

  <% end %>
</div>
