<%= image_tag "sherlock-game.jpg", alt: "sherlock game", class: "sherlock-cover-image" %>

<p>
  <strong><%= @product.name %></strong>
</p>
<p><%= @product.description %></p>

<p>
  <strong>Price</strong>
  <%= number_to_currency(@product.price) %>
</p>

<div class="add-to-cart-button">
  <section>
    <h3><%= link_to "Add to Cart", new_merchant_product_path(@product.merchant_id) %></h3>
  </section>
</div>


<%= link_to "Go Back to All Products", root_path, class: "homepage" %>
