<div class="container">

  <div class="row">
    <div class="col-8">
      <h2><strong><%= @product.name %></strong></h2>
    </div>
    <div class="col-4">
      <h3>Product Reviews</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>By: <%= link_to @product.merchant.username, merchants_path(@product.merchant_id) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col-12 text-left">
        <%= link_to image_tag("#{@product.image}", :alt => 'product-img', :class => 'image-show-tag'), product_path(@product.id) %>
      </div>
    </div>
    <div class="col-4">
      <div class="rating">
        <% @product.reviews.each do |review| %>
        <h5><%= review.rating %> out of 5</h5>
      </div>
      <div class="review-descrip">
        <p>"<%= review.description %>"</p>
      </div>
      <div class="created-at">
        <p><%= review.created_at.strftime("%B %d, %Y") %></p>
        <br>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p><strong>Price: </strong>
        <%= number_to_currency(@product.price) %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-8" class="product-desription">
      <h5><strong>Product Description:</strong></h5>
      <p class="text-capitalize"><%= @product.description %></p>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <section>
        <button type="button" class="btn btn-info"> <%=link_to "Add to Cart", order_items_path%>
        </button>
      </section>
    </div>
  </div>
</div>
