<!DOCTYPE html>
<html>
<head>
  <title>Braineaze</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="shortcut icon" href="images/brian.png" type="image/png" alt="brain emoji">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header>
    <nav>

      <div class="hello">
        <% if @current_merchant %>
        Hello, <%= @current_merchant.username %>
        <% else %>
        Hello, Guest
        <% end %>
      </div>

      <div class="login">
        <% if @current_merchant %>
        <%= link_to "Log Out", '/sessions/logout' %>
        <% else %>
        <%= link_to "Log In", '/auth/github' %>
        <% end %>
      </div>

      <div class="braineaze">
        <h1>
          <%=link_to "braineaze", products_path %></h1>
        </div>

        <div class="nav-option" id="products">
          <%=link_to "products", products_path %>
        </div>

        <div class="nav-option" id="category">
          <%=link_to "categories", categories_path %>
        </div>

        <div class="nav-option" id="merchants">
          merchants
        </div>

        <div class="nav-option" id="cart">

          <button type="button" class="btn btn-secondary">
            cart <span class="badge badge-light">0</span>
          </button>
        </div>
      </nav>
    </header>


    <main>
      <%= yield %>
    </main>
    <footer>
      <%= "\u00A9" %> MAGS
    </footer>
  </body>
  </html>
