<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="app/assets/images/brain.png" type="image/png" >
  <title>Braineaze</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header>
    <nav>

      <div class="hello">
        <% if @current_merchant %>
        Hello, <%= @current_merchant.username %>
        <% else %>
        Hello, Guest
        <% end %>
      </div>

      <div class="login">
        <% if @current_merchant %>
        <%= link_to "Log Out", '/sessions/logout', method: "post" %>
        <% else %>
        <%= link_to "Log In", '/auth/github' %>
        <% end %>
      </div>

      <div class="braineaze">
        <h1>
          <%=link_to "Braineaze", products_path %></h1>
        </div>

        <div class="nav-option" id="products">
          <%=link_to "Products", products_path %>
        </div>

        <div class="nav-option" id="category">
          <%=link_to "Categories", categories_path %>
        </div>

        <div class="nav-option" id="merchants">
          Merchants
        </div>

        <div class="nav-option" id="cart">
          <%= link_to image_tag("cart.png", :class => 'cart-photo', :alt => 'cart photo'), root_path %>
          <%= @shopping_cart.order_items.length %>
        </div>
      </nav>
    </header>


    <main>
      <%= yield %>
    </main>
    <footer>
      <%= "\u00A9" %> MAGS
    </footer>
  </body>
  </html>
